<ion-content>
<ul class="list list1">
  <button type="button" class="col col1 item calm">
    Winning Shot
  </button>
  <button type="button" class="col col1 item energized">
    Back Out
  </button>
  <button type="button" class="col col1 item calm">
    Winning Shot
  </button>
  <button type="button" class="col col1 item energized">
    Back Out
  </button>
  <button type="button" class="col col1 item calm">
    Winning Shot
  </button>
  <button type="button" class="col col1 item energized">
    Back Out
  </button>
</ul>
</ion-content>
