<ion-view view-title="Data">
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-62506453-1', 'auto');
                ga('send', 'pageview');

              </script>
  <ion-content>
  <ul>
    <div class="list">
      <div ng-repeat="tennisdata in tennisdatas">
        <a class="item item-icon-right" href="#/tab/data/datadetail/{{tennisdata._id}}">
          {{tennisdata.startdata.player1}}  {{tennisdata.startdata.player3}}  -VS-  {{tennisdata.startdata.player2}}  {{tennisdata.startdata.player4}}
          <p>{{tennisdata.startdata.starttime | date:'yyyy年MM月dd日HH時mm分ss秒'}}</p>
          <i class="ion-chevron-right icon"></i>
        </a>
      </div>
    </div>
  </ul>
  </ion-content>
</ion-view>
      
