<ion-view view-title="Chats">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-62506453-2', 'auto');
            ga('send', 'pageview');
            
          </script>
<div class="bar bar-subheader item-input-inset bar-energized">
      <label class="item-input-wrapper">
          <input type="text" id="chatname" placeholder="Name"  ng-model="chatname" value={{chatname}}>
      i</label>
</div>
<ion-content> 
    <ul>
      <div  ng-repeat="message in messages">
      <div class="card">
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-chatbubble-working"></i>
        <p>{{message.message}}</p>
      </div>
      <div class="item item-divider" align="right">
        <h5>{{message.time | date:'yyyy年MM月dd日HH時mm分ss秒'}}{{ message.name}}</h5>
      </div>
      </div>
      </div>
    </ul>
</ion-content>
        <ion-footer-bar class="bar-dark item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" id="chatmessage" placeholder="Message"  ng-model="message" value={{message}}>
              </label>
              <button class="button button-royal" ng-click="submitclick()">
                Submit
              </button>
        </ion-footer-bar>
</ion-view>
