<ion-view view-title="VIEW GAME IN REAL TIME ">
<ion-content>
<ul>
  <div ng-repeat="tennisdata in tennisdatas">
    <div class="card positive">
      <p class="dark">開始時間:{{tennisdata.startdata.starttime | date:'yyyy年MM月dd日HH時mm分ss秒'}}</p>
      <div class="row header">
        <div align="center" class="col vPlayer dark">試合状況</div>
        <div align="center" class="col vPlayer1 dark">{{tennisdata.startdata.player1+"/"+tennisdata.startdata.player3}}</div>
        <div align="center" class="col vPlayer2 dark">{{tennisdata.startdata.player2+"/"+tennisdata.startdata.player4}}</div>
      </div>
      <div class="row">
        <div align="center" class="col vServer dark">Server</div>
        <div align="center" class="col vServer1">Server1</div>
        <div align="center" class="col vServer2">Server2</div>
      </div>
      <div class="row">
        <div align="center" class="col vSet dark">Set</div>
        <div align="center" class="col vSet1">Set1</div>
        <div align="center" class="col vSet2">Set2</div>
      </div>
      <div class="row">
        <div align="center" class="col vGame dark">Game</div>
        <div align="center" class="col vGame1">Game1</div>
        <div align="center" class="col vGame2">Game2</div>
      </div>
      <div class="row">
        <div align="center" class="col vScore dark">Score</div>
        <div align="center" class="col vScore1">Score1</div>
        <div align="center" class="col vScore2">Score2</div>
      </div>
    </div>
  </div>
</ul>
</ion-content>
</ion-view>
