/* Empty. Add your own CSS if you like */
.player1count,.player2count,.counttext{
  border:medium solid black;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  font-size:100%;
}
.player1count{
  background-color:#ffd500;
}
.player2count{
  background-color:#00ffff;
}
input[name="servicein"],input[name="serviceace"],input[name="fault"],input[name="returnin"],input[name="returnace"],input[name="returnmiss"]{
  width:100%;
}
.middlebutton{
  font-size:100%;
  width:100%;
}
